<%= semantic_form_for [:admin, @post] do |f| %>
  <%= f.inputs do %>
    <%= f.input :author %>
    <li id="post_published_date_input" class="string input optional stringish">
      <%= f.label :published_at %>
      <%= f.text_field :published_date %>
      <%= f.text_field :published_time, :value => f.object.published_time.to_s(:time_input) %>
    </li>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :content %>
    <%= f.input :permalink, :required => !f.object.new_record? %>
  <% end %>
  <%= f.buttons %>
<% end %>