<section class="author">
  <%= link_to author.twitter_url do %>
    <div class="avatar">
      <%= icon_for(author) %>
    </div>
    <div class="author-info">
      <hgroup>
        <h4><%= author.name %></h4>
        <em><%= author.twitter %></em>
      </hgroup>
      <p><%= author.bio %></p>
    </div>
  <% end %>
</section>