<!DOCTYPE html>
<html>

<head>
  <title>The Coopermen - Writing</title>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <%= tag :link, rel: 'alternate', type: 'application/rss+xml', title: 'RSS', href: posts_path(format: 'rss') %>
  <%= stylesheet_link_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<%= content_tag :body, :id => @body_id do %>

  <div class="wrapper">
    <header id="masthead">
      <%= link_to root_url, :id => 'logo' do %>
        <em>The</em>Coopermen
      <% end %>
      <nav>
        <ul>
          <li><%= link_to 'rss', posts_path(format: 'rss'), :class => 'rss' %></li>
        </ul>
      </nav>
    </header>
  </div>

  <%= yield %>

  <footer id="global">
    <div class="wrapper">
      <div class="authors">
        <header>
          <h5 class="section-heading"><em>The</em>Authors</h5>
        </header>
        <%= render partial: 'layouts/author', collection: AdminUser.non_guest %>
        <footer class="copyright">
          &copy; The Coopermen 2012.</a>
        </footer>
      </div>
    </div>
  </footer>

<% end %>

</html>
